.form-tasa-simple {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.form-tasa-simple>div {
    flex: 1;
}

.temas {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.temas span {
    padding: 5px 10px;
    border: 1px solid #D0DAE5;
    border-radius: 5px;
    cursor: pointer;
}

.temas .desactive {
    background-color: #F5F8FA;
}

.temas .active {
    background-color: #def3f6;
}

.temas span:hover {
    background-color: #def3f6;
}

input {
    outline: none;
    border: 1px solid #CBD6E2;
    border-radius: 5px;
    padding: 3px 5px;
}

button:hover {
    background-color: #E5F5F8;
}

.monto {
    padding: 10px 10px;
    background-color: #F5F8FA;
    border-radius: 5px;
    border: 1px solid #CBD6E2;
}

select {
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #CBD6E2;
}

option:hover {
    background-color: red;
}

.btn-link {
    background: none;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 25px;
    color: white;
    border: 1px solid white;
}

.btn-link:hover {
    color: white;
    background: none;
    border: 1px solid rgb(103, 146, 249);
}

.btn-ir {
    font-size: 18px;
    background: rgb(33, 33, 33);
    padding: 5px 45px;
    border: 1px solid black;
    transition: background-color 0.2s ease;
    color: white;
}

.btn-ir:hover {
    background: rgb(51, 51, 51);
    color: white;
}

.img-main {
    width: 50%;
    animation: mover 5s infinite linear;
}

@media screen and (max-width:720px) {
    .img-main {
        display: none;
    }
}

@keyframes mover {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.landing-fondo {
    height: calc(100vh - 57px);
    background-image: url('../assets/fondo.svg');
    background-size: cover;
}

.section-temas {
    padding: 20px 0px;
    background-color: #f8f6f6;
}

.estado {
    padding: 5px;
    font-size: 12px;
    color: white;
}

.completo {
    background-color: #95B657;
}

.pendiente {
    background-color: #eaebeb;
    color: rgb(53, 53, 53);
}

.fila {
    color: #373737;
}

.fila:hover {
    background-color: #f2f2f2;
}

.footer {
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: rgb(235, 234, 234)
}