.form-tasa-simple {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.form-tasa-simple>div {
    flex: 1;
}

input {
    outline: none;
    border: 1px solid #CBD6E2;
    border-radius: 5px;
    padding: 3px 5px;
}

button:hover {
    background-color: #E5F5F8;
}

.monto {
    padding: 10px 10px;
    background-color: #F5F8FA;
    border-radius: 5px;
    border: 1px solid #CBD6E2;
}